/.idea/
/ui/mainwindow/assets/
/__pycache__/
/ui/mainwindow/main.pyproject.user
/ui/mainwindow/main.py
/ui/mainwindow/main.pyproject
/ui/mainwindow/form.ui.autosave
/ui/mainwindow/__pycache__
/ui/styles/__pycache__
/widgets/__pycache__
/utils/__pycache__
/ui/form.ui
/ui/main.py
/ui/main.pyproject
/ui/main.pyproject.user
/ui/mainwindow.old.py
/ui/__pycache__
/shaders/__pycache__
/magicautils/src/magicautils.pro
/magicautils/src/magicautils.pro.user
/magicautils/src/*.autosave
/magicautils/build/
/*.pyd